.menu-game-memory, .menu-game-ppt, .menu-game-bingo {
  width: 15rem;
  height: 24rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 1s;
}

.menu-game-memory:hover, .menu-game-ppt:hover, .menu-game-bingo:hover {
  /* transform: scale(1.2); */
  -webkit-animation: tiembla 1s;
  /* transform: rotate(360deg); */
}

@-webkit-keyframes tiembla {
  0% { transform: rotate(5deg) }
  50% { transform: rotate(0deg) scale(1.1); }
  100% { transform: rotate(-5deg) }
}

.image-menu-game-memory, .image-menu-game-ppt, .image-menu-game-bingo {
  width: 15rem;
  height: 24rem;
  object-fit: fill;
}


/* MEDIA QUERIES */

@media (width <= 1030px) {
  .menu-game-memory, .menu-game-ppt, .menu-game-bingo {
    width: 12rem;
    height: 19.6rem;
  }

  .image-menu-game-memory, .image-menu-game-ppt, .image-menu-game-bingo {
    width: 12rem;
    height: 19.6rem;
  }
}

@media (width <= 880px) {
  .menu-game-memory, .menu-game-ppt, .menu-game-bingo {
    width: 9rem;
    height: 9rem;
  }

  .image-menu-game-memory, .image-menu-game-ppt, .image-menu-game-bingo {
    width: 10rem;
    height: 15rem;
  }
}

@media (width <= 610px) {
  .menu-game-memory, .menu-game-ppt, .menu-game-bingo {
    width: 6rem;
    height: 11rem;
  }

  .image-menu-game-memory, .image-menu-game-ppt, .image-menu-game-bingo {
    width: 6rem;
    height: 11rem;
  }
}