.menu-game-memory, .menu-game-ppt, .menu-game-bingo {
  width: 15rem;
  height: 24rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 1s;
}

.menu-game-memory:hover, .menu-game-ppt:hover, .menu-game-bingo:hover {
  /* transform: scale(1.2); */
  -webkit-animation: tiembla 1s;
  /* transform: rotate(360deg); */
}

@-webkit-keyframes tiembla {
  0% { transform: rotate(5deg) }
  50% { transform: rotate(0deg) scale(1.1); }
  100% { transform: rotate(-5deg) }
}

.image-menu-game-memory, .image-menu-game-ppt, .image-menu-game-bingo {
  width: 15rem;
  height: 24rem;
  object-fit: fill;
}


/* MEDIA QUERIES */

@media (width <= 1440px) {
  .menu-game-memory, .menu-game-ppt, .menu-game-bingo {
    width: 12rem;
    height: 19rem;
  }

  .image-menu-game-memory, .image-menu-game-ppt, .image-menu-game-bingo {
    width: 12rem;
    height: 19rem;
  }
}

@media (width <= 1024px) {
  .menu-game-memory, .menu-game-ppt, .menu-game-bingo {
    width: 10rem;
    height: 16rem;
  }

  .image-menu-game-memory, .image-menu-game-ppt, .image-menu-game-bingo {
    width: 10rem;
    height: 16rem;
  }
}

@media (width <= 768px) {
  .menu-game-memory, .menu-game-ppt, .menu-game-bingo {
    width: 8rem;
    height: 13rem;
  }

  .image-menu-game-memory, .image-menu-game-ppt, .image-menu-game-bingo {
    width: 8rem;
    height: 13rem;
  }
}

@media (width <= 426px) {
  .menu-game-memory, .menu-game-ppt, .menu-game-bingo {
    width: 5rem;
    height: 7.8rem;
  }

  .image-menu-game-memory, .image-menu-game-ppt, .image-menu-game-bingo {
    width: 5rem;
    height: 7.8rem;
  }
}

@media (width <= 321px) {
  .menu-game-memory, .menu-game-ppt, .menu-game-bingo {
    width: 4rem;
    height: 6.5rem;
  }

  .image-menu-game-memory, .image-menu-game-ppt, .image-menu-game-bingo {
    width: 4rem;
    height: 6.5rem;
  }
}