.button-reset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100px;
  margin-top: var(--gh-margin-s);
  margin-bottom: var(--gh-margin-xs);
  padding: var(--gh-padding-xxs);
  background-color: var(--gh-color-final);
  color: var(--gh-color-primary);
  border: var(--gh-color-primary);
  box-shadow: var(--gh-text-neon);
  border-radius: var(--gh-border-m);
  cursor: pointer;
  font-size: x-large;
  text-shadow: var(--gh-text-neon);
  transition: all 1s;
}

.button-reset:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.reset-memory-game {
  text-align: center;
  margin-top: 300px;
  color: var(--gh-color-final);
  text-shadow: var(--gh-text-neon);
}


/* MEDIA QUERIES */

@media (width <= 1250px) {
  .button-reset {
    width: 120px;
    height: 80px;
    font-size: large;
  }
}

@media (width <= 920px) {
  .button-reset {
    width: 100px;
    height: 60px;
    font-size: small;
  }
}

@media (width <= 520px) {
  .button-reset {
    width: 80px;
    height: 50px;
    margin-left: var(--gh-margin-xs);
    margin-right: var(--gh-margin-s);
    font-size: x-small;
  }
}