#div-ppt {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: var(--gh-gap-xl);
  width: 100vw;
  height: 100vh;
}

#players-selection {
  display: flex;
  align-items: center;
  gap: var(--gh-gap-m);
  margin-top: 10rem;
  margin-bottom: 3rem;
}

.name-opponent, .name-player {
  color: var(--gh-color-final);
  text-shadow: var(--gh-text-neon);
  cursor: no-drop;
  text-align: center;
}

#image-player-selection, #image-opponent-selection {
  width: 7.3rem;
  height: 7.3rem;
  border-radius: var(--gh-border-m);
  cursor: no-drop;
  object-fit: cover;
}

#result-text {
  color: var(--gh-color-secondary);
  cursor: no-drop;
  text-shadow: var(--gh-text-neon);
  text-align: center;
}

#title-ppt {
  color: var(--gh-color-final);
  text-shadow: var(--gh-text-neon);
  cursor: no-drop;
}

.games-win {
  margin-top: var(--gh-margin-m);
  color: var(--gh-color-secondary);
  text-shadow: var(--gh-text-neon);
  cursor: no-drop;
}

.games-lose {
  color: var(--gh-color-secondary);
  text-shadow: var(--gh-text-neon);
  cursor: no-drop;
}


/* MEDIA QUERIES */

@media (width <= 1440px) {
  #players-selection {
    margin-top: 10rem;
  }
}

@media (width <= 1145px) {
  /* #players-selection {
    flex-direction: column;
    margin-top: var(--gh-margin-xl);
  } */
  
  /* .games-win {
    margin-top: var(--gh-margin-s);
  }
  
  .games-lose {
    margin-top: 0;
  }*/
} 

@media (width <= 900px) {
  #div-ppt {
    gap: var(--gh-gap-l);
  }

  #players-selection {
    flex-direction: column;
    margin-top: var(--gh-margin-xl);
    margin-bottom: 0;
  }

  #image-player-selection, #image-opponent-selection {
    width: 6rem;
    height: 6rem;
  }

  #result-text {
    font-size: medium;
  }
  
  #title-ppt {
    margin-top: 1rem;
    font-size: large;
  }

  .games-win, .games-lose {
    margin-top: 1rem;
  }
}

/* @media (width <= 600px) {
  #players-selection {
    margin-bottom: var(--gh-margin-l);
  }

  #title-ppt {
    font-size: large;
  }

  #image-player-selection, #image-opponent-selection {
    width: 6rem;
    height: 6rem;
  }

  .games-win{
    margin-top: var(--gh-margin-xl);
  }
} */

@media (width <= 385px) {
  #players-selection {
    margin-top: var(--gh-margin-xxl);
  }

  #title-ppt {
    line-height: 2rem;
  }

  #image-player-selection, #image-opponent-selection {
    width: 5rem;
    height: 5rem;
  }

  #title-ppt {
    font-size: medium;
  }

  .games-win{
    margin-top: var(--gh-margin-l);
    font-size: small;
  }

  .games-lose {
    margin-top: var(--gh-margin-s);
    font-size: small;
  }
}