.button-reset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 6rem;
  margin-top: var(--gh-margin-s);
  margin-bottom: var(--gh-margin-s);
  padding: var(--gh-padding-xxs);
  background-color: var(--gh-color-final);
  color: var(--gh-color-primary);
  border: var(--gh-color-primary);
  border-radius: var(--gh-border-m);
  cursor: pointer;
  transition: all 1s;
}

.button-reset:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.reset-memory-game {
  text-align: center;
  color: var(--gh-color-tertiary);
  text-shadow: var(--gh-text-neon);
  line-height: 3rem;
}


/* MEDIA QUERIES */

@media (width <= 1250px) {
  .button-reset {
    width: 7.3rem;
    height: 5rem;
    font-size: x-small;
  }
}

@media (width <= 920px) {
  .button-reset {
    width: 6rem;
    height: 4rem;
    font-size: xx-small;
  }
}

@media (width <= 520px) {
  .button-reset {
    width: 5rem;
    height: 3rem;
    margin-left: var(--gh-margin-xs);
    margin-right: var(--gh-margin-s);
    font-size: 45%;
  }
}